@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
}
*:hover {
  cursor: default;
}

.image{
  height:200px;
  border: 1px solid;
  border-radius: 10rem;
  display: flex;
  justify-self: center;
  margin-bottom: 1rem;
}

.main {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 1rem;
  padding: 0;
  background-color: rgb(241 245 249);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 1rem black;
  border-radius: 2rem;
  background-color: rgb(236 253 245);
}

h1,
h2 {
  background-image: linear-gradient(to right, black, rgb(110 231 183));
  text-align: center;
  padding: 10px;
  margin-bottom: 2rem;
  border-radius: 2rem;
}
h3 {
  margin: 1rem;
}

.info {
  margin-bottom: 2rem;
}
.lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  list-style: none;
  padding-top: 20px;
  overflow: hidden;
}

.section {
  margin-top: 2rem;
  text-align: center;
}
.section h2 {
  font-size: larger;
}

.btn {
  display: flex;
  justify-self: center;
  margin-top: 2rem;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(110 231 183);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.btn:hover {
  cursor: pointer;
}

.font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
